*~
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.gdb_history
.vscode
*.d
*.o
*.obj
*.so
*.dylib
*.a
*.out
*.dSYM/
__pycache__/
*.py[cod]
*$py.class


build/
compile_commands.json
bin/ZERO_CHECK.vcxproj.filters
bin/ZERO_CHECK.vcxproj
bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
bin/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
bin/x64/Release/ZERO_CHECK/ZERO_CHECK.log
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
bin/src/PACKAGE.vcxproj.filters
bin/src/PACKAGE.vcxproj
bin/src/nodesoup.vcxproj.user
bin/src/nodesoup.vcxproj.filters
bin/src/nodesoup.vcxproj
bin/src/nodesoup.dir/Release/nodesoup.tlog/nodesoup.lastbuildstate
bin/src/nodesoup.dir/Release/nodesoup.tlog/Lib.command.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/Lib-link.write.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/Lib-link.read.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/CustomBuild.write.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/CustomBuild.read.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/CustomBuild.command.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/CL.write.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/CL.read.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.tlog/CL.command.1.tlog
bin/src/nodesoup.dir/Release/nodesoup.log
bin/src/nodesoup.dir/Release/nodesoup.lib.recipe
bin/src/nodesoup.dir/Debug/nodesoup.tlog/nodesoup.lastbuildstate
bin/src/nodesoup.dir/Debug/nodesoup.tlog/Lib.command.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/Lib-link.write.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/Lib-link.read.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/CustomBuild.write.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/CustomBuild.read.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/CustomBuild.command.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/CL.write.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/CL.read.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.tlog/CL.command.1.tlog
bin/src/nodesoup.dir/Debug/nodesoup.log
bin/src/nodesoup.dir/Debug/nodesoup.lib.recipe
bin/src/nodesoup.dir/Debug/nodesoup-d.lib.recipe
bin/src/INSTALL.vcxproj.filters
bin/src/INSTALL.vcxproj
bin/src/CMakeFiles/generate.stamp.depend
bin/src/CMakeFiles/generate.stamp
bin/src/cmake_install.cmake
bin/PACKAGE.vcxproj.filters
bin/PACKAGE.vcxproj
bin/nodesoup.sln
bin/nodesoup-targets.cmake
bin/nodesoup-config-version.cmake
bin/INSTALL.vcxproj.user
bin/INSTALL.vcxproj.filters
bin/INSTALL.vcxproj
bin/CPackSourceConfig.cmake
bin/CPackConfig.cmake
bin/CMakeFiles/TargetDirectories.txt
bin/CMakeFiles/generate.stamp.list
bin/CMakeFiles/generate.stamp.depend
bin/CMakeFiles/generate.stamp
bin/CMakeFiles/Export/lib/cmake/nodesoup/nodesoup-config.cmake
bin/CMakeFiles/Export/lib/cmake/nodesoup/nodesoup-config-relwithdebinfo.cmake
bin/CMakeFiles/Export/lib/cmake/nodesoup/nodesoup-config-release.cmake
bin/CMakeFiles/Export/lib/cmake/nodesoup/nodesoup-config-minsizerel.cmake
bin/CMakeFiles/Export/lib/cmake/nodesoup/nodesoup-config-debug.cmake
bin/CMakeFiles/ed2a4c50e954fd9cb5985ff0b17688b3/PACKAGE_force.rule
bin/CMakeFiles/ed2a4c50e954fd9cb5985ff0b17688b3/INSTALL_force.rule
bin/CMakeFiles/CMakeOutput.log
bin/CMakeFiles/cmake.check_cache
bin/CMakeFiles/6dfd1300273518a9e7d5eb5420d1b88c/PACKAGE_force.rule
bin/CMakeFiles/6dfd1300273518a9e7d5eb5420d1b88c/INSTALL_force.rule
bin/CMakeFiles/6dfd1300273518a9e7d5eb5420d1b88c/generate.stamp.rule
bin/CMakeFiles/3.23.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
bin/CMakeFiles/3.23.1/x64/Debug/VCTargetsPath.recipe
bin/CMakeFiles/3.23.1/VCTargetsPath.vcxproj
bin/CMakeFiles/3.23.1/VCTargetsPath.txt
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
bin/CMakeFiles/3.23.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
bin/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.vcxproj
bin/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.exe
bin/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
bin/CMakeFiles/3.23.1/CMakeSystem.cmake
bin/CMakeFiles/3.23.1/CMakeRCCompiler.cmake
bin/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
bin/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
bin/CMakeCache.txt
bin/cmake_install.cmake
bin/ALL_BUILD.vcxproj.filters
bin/ALL_BUILD.vcxproj
bin/.vs/nodesoup/v17/Solution.VC.db
bin/.vs/nodesoup/v17/ipch/AutoPCH/f4a72ec7f7ce45f8/NODESOUP.ipch
bin/.vs/nodesoup/v17/ipch/AutoPCH/d4668527554a740a/KAMADA_KAWAI.ipch
bin/.vs/nodesoup/v17/ipch/AutoPCH/cccb028aeadba8b1/FRUCHTERMAN_REINGOLD.ipch
bin/.vs/nodesoup/v17/ipch/AutoPCH/c17de6fd1198db4d/LAYOUT.ipch
bin/.vs/nodesoup/v17/ipch/AutoPCH/7476d33fe623efb7/ALGEBRA.ipch
bin/.vs/nodesoup/v17/ipch/AutoPCH/25001db408d51812/NODESOUP.ipch
bin/.vs/nodesoup/v17/Browse.VC.db
bin/.vs/nodesoup/v17/.suo
